table {
  width: 100%;

}

.estilo{
  margin-left: 15px;
  margin-right: 15px;
}
  
.mat-form-field {
  font-size: 14px;
}

td, th {
  width: 25%;
}

.delete {
  color: #f44336;
  cursor: pointer;
}

.alterar {
  color: #3f51b5;
  cursor: pointer;
}
  