<ngx-avatar mat-icon-button 
            [matMenuTriggerFor]="menu" 
            size="50" 
            [src]="fotoPerfil ? fotoPerfil : 'assets/sem-foto.jpg'" 
            name="Hubert Wolfeschlegelsteinhausenbergerdorff">
</ngx-avatar>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="mudar_foto()">
      <mat-icon>photo_camera</mat-icon>
      <span>Mudar foto</span>
    </button>
    <button mat-menu-item (click)="sair()">
      <mat-icon>perm_identity</mat-icon>
      <span>Sair</span>
    </button>
</mat-menu>