<super-table 
    [registros]="registros"
    [colunas]="colunas"
    (btnPutClick)="alterar($event)"
    (btnDeleteClick)="delete($event)"
    [showAlterar]="showAlterar"
    [showExcluir]="showExcluir"
    (selecionados)="mudarSelecionados($event)"
    >
</super-table>

<app-crud-buttons *ngIf="mostrarManipularProduto()"
    [labelBotaoPost]="'Adicionar produtos'"
    [labelBotaoAuxUm]="'Marcar como revisado'"
    [showPut]=false
    [showDelete]=false
    [showAuxUm]="showAuxUm"
    [disableAuxUm]="linhasSelecionadas.length == 0"
    (OnClickButtonPost)="adicionarProduto()"
    (OnClickButtonAuxUm)="revisar()"    
></app-crud-buttons>