<app-card-default titulo="Alterar produto">

  <form [formGroup]="formulario">

    <mat-form-field appearance="outline" class="input">
      <mat-label>
        Categoria
      </mat-label>
      <input matInput readonly type="text" formControlName="categoria">
      <button *ngIf="formulario.value.categoriaId" matSuffix mat-icon-button aria-label="Clear" (click)="removerCategoria()">
        <mat-icon>close</mat-icon>
      </button>
      <button *ngIf="!formulario.value.categoriaId" matSuffix mat-icon-button aria-label="Clear" (click)="procurarCategoria()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <div class="row">

      <div class="col-sm-6">
        <mat-form-field appearance="outline" class="input">
          <mat-label>
            Descrição
          </mat-label>
          <input readonly type="text" matInput formControlName="descricao">       
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="input">
          <mat-label>
            NCM
          </mat-label>
          <input readonly readonly type="text" matInput formControlName="ncm">       
      </mat-form-field>
      </div>

      <div class="col-sm-6">
        <mat-form-field appearance="outline" class="input">
          <mat-label>
            EAN
          </mat-label>
          <input readonly type="text" matInput formControlName="ean">       
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="input">
          <mat-label>
            Status
          </mat-label>
          <input readonly type="text" matInput formControlName="status" [value]="formulario.value.status | status">       
      </mat-form-field>
      </div>

    </div>
             
  </form>

</app-card-default>

<app-crud-buttons
    [labelBotaoPut]="'Alterar'"
    [labelBotaoAuxUm]="'Voltar'"
    [disablePost]="!formulario.valid"
    [showPost]=false
    [showDelete]=false
    (OnClickButtonPut)="put()"
    (OnClickButtonAuxUm)="voltar()"
></app-crud-buttons>