<mat-card class="cardfoto">
    <img [src]="imagemAExibir ? imagemAExibir : 'assets/sem-foto.jpg'" style="width: 100%; height: auto"/>
    <input #inputImg style="display: none;" type='file' (change)="onSelectFile(inputImg.files, $event)">

    <br>

    <div style="margin-top: 10px;">
        <button style="width: 100%" mat-raised-button color="primary" (click)="SelecionarImagem()" [disabled]="HabilitaBotaoAdicionar()" ><mat-icon>add_a_photo</mat-icon> Escolher Imagem</button>
        <br>
        <button style="width: 100%; margin-top: 10px;" mat-raised-button color="warn" (click)="RemoverImagem()" [disabled]="HabilitarBotaoRemover()"> 	<mat-icon>delete</mat-icon> Remover imagem</button>
    </div>
</mat-card>