.botaoenviar {
    margin: 30px; 
    width: 30vw;
}


.botaoenviar {
    margin: 30px; 
    width: auto;
}

@media (min-width: 1000px){
    .botaoenviar {
        margin: 30px; 
        width: 30vw;
    }
}