<app-card-default titulo="Cadastro de cliente">
  <form [formGroup]="formulario">
    <div class="row">
  
      <div class="col-sm-6">
  
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>
            Nome
          </mat-label>
          <input type="text" matInput formControlName="nome">       
          <mat-error *ngIf="formulario.controls.nome.hasError('required')">
            Informe o nome do cliente
          </mat-error>  
        </mat-form-field>
  
        <br>
    
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>
              E-mail
            </mat-label>
            <input type="email" matInput formControlName="email">
            <mat-error *ngIf="formulario.controls.email.hasError('required')">
              Informe o nome do cliente
            </mat-error>  
            <mat-error *ngIf="formulario.controls.email.hasError('email')">
              O e-mail deve possuir um formato <strong>válido</strong>
            </mat-error>         
        </mat-form-field>
    
        <br>
  
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>
            CNPJ
          </mat-label>
          <input type="text" matInput formControlName="cnpj" [value]="formulario.value.cnpj | cnpj">  
          <mat-error *ngIf="formulario.controls.cnpj.hasError('cnpjValidator')">
            A numeração do CNPJ é <strong>inválida</strong>
          </mat-error>       
          <mat-error *ngIf="formulario.controls.cnpj.hasError('cnpjFormat')">
            O cnpj deve ter um formato <strong>válido</strong>
          </mat-error>     
      </mat-form-field>
  
      </div>
      <div class="col-sm-6">
  
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>
            Senha
          </mat-label>
          <input #senha type="password" matInput formControlName="password">       
        </mat-form-field>
  
        <br>
  
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>
            Confirmar senha
          </mat-label>
          <input type="password" matInput formControlName="confirmPassword">      
          <mat-error *ngIf="formulario.controls.confirmPassword.hasError('confirmedValidator')">
            As senhas não coincidem
          </mat-error>     
        </mat-form-field>
  
      </div>
  
    </div>  
  </form>

</app-card-default>
 

<app-crud-buttons
    [labelBotaoPost]="'Adicionar'"
    [labelBotaoPut]="'Alterar'"
    [labelBotaoAuxUm]="'Voltar'"
    [disablePost]="!formulario.valid"
    [showPut]="!cadastrar"
    [showAuxUm]="!cadastrar"
    [showPost]="cadastrar"
    [showDelete]=false
    (OnClickButtonPost)="post()"
    (OnClickButtonPut)="put()"
    (OnClickButtonDelete)="delete()"
    (OnClickButtonAuxUm)="voltar()"
></app-crud-buttons>