
    <mat-toolbar color="primary">
      <button (click)="changeSidenav()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
        <span class="example-spacer"></span>
      <h6 class="header__title-text">Alpha tributação</h6>

      <button (click)="sair()"
              style="margin-left: auto;"
              mat-flat-button 
              color="primary"> Sair <mat-icon>perm_identity</mat-icon></button>

      <div class="header-toolbar">
        
      </div>
    </mat-toolbar>