<mat-list-item *ngIf="item.submenu || item.link" (click)="showSubmenu = !showSubmenu" class="parent">

    <h4 mat-line *ngIf="!item.submenu" routerLink={{item.link}}>{{item.nome}}</h4>
    <h4 mat-line *ngIf="item.submenu">{{item.nome}}</h4>
    <mat-icon mat-list-icon>{{item.icone}}</mat-icon>
    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="item.submenu">expand_more</mat-icon>
    
</mat-list-item>
  
<div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="showSubmenu">
  <a *ngFor="let submenu of item.submenu" routerLink={{submenu.link}} mat-list-item class="ui-element"> 
    <div class="circle"></div> {{submenu.nome}}
  </a>
</div>